<h3>Google Libros</h3>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Busca un libro" 
  [formControl]="fcLibros" (keydown.enter)="onSearch($event)" >  
</div>
<button type="button"  (click)="onSearch($event)" class="btn btn-primary">Buscar</button>
<div *ngIf="libros.length">
    <h3>Relustado</h3>
    <ul class="list-group">
        <li class="list-group-item " *ngFor="let libro of libros"> 
            ( {{libro.autores}} ) -  {{libro.titulo | uppercase}} </li>
    </ul>

</div>
