<h3>Tareas Simple</h3>
<div class="form-group">
    <label for="txtTombre">Nueva Tarea</label>
    <input type="text" class="form-control" [title]="mensaje"
    [(ngModel)]="newTarea.nombre"
    (keydown.enter)="addTareas($event)"
    name="nombre" id="txtNombre">      
</div>
<div class="row justify-content-end">
    <div class="col-6 float-left"><button type="button" class="btn btn-primary" (click)="addTareas($event)">Añadir</button></div>
    <div class="col-6 float-right"><button type="button" [disabled]="!tareas.length" class="btn btn-primary" (click)="onConfirmTareas($event)">Eliminar Todas</button></div>
</div>
<div class="mt-3" *ngIf="tareas.length;else sinLista">
    <h3>Lista de tareas</h3>
    <ul class="list-group">
        <li class="list-group-item " 
        *ngFor="let tarea of tareas;let i = index" [attr.data-index]="i" >
            <div class="row justify-content-end">
              <div class="col-10" >
                  <span [aubHacerEditable]="isEditable" [ngClass]="{completed: tarea.isCompleted}" (blur)="onEditTarea($event,id)">{{ tarea.nombre }}</span>
                  <span class="boton" (click)="onModTarea($event)" >✍️</span>  
              </div>                   
              <div class="col-2 float-right ml-auto">
              <div class="form-check form-check-inline" >
                  <label class="form-check-label">
                      <input type="checkbox" 
                      [(ngModel)]="tarea.isCompleted"  (change)="onChange(tarea)"
                      class="form-check-input">                      
                  </label>
              </div>   
              <fa-icon [icon]="papelera" (click)="onRemoveTarea(i)"></fa-icon>  
              
              </div>
            </div>
        </li>
    </ul>
    <ng-template #sinLista >
        <p>Animate a añadir alguna tarea</p>
    </ng-template>
</div>
<dialog #confirmar>
 <p>¿Estas seguro?</p>   
  <button type="button" class="btn btn-secondary" (click)="onDeleteTareas(false)">No</button>
  <button type="button" class="btn btn-primary" (click)="onDeleteTareas(true)">Si</button> 
</dialog>