<h3>Fomulario Model-Driven (Reactivo)</h3>
<form name="form-md" id ="form-md" [formGroup]="formMd" (submit)="onSubmit($event)">
        <fieldset>
            <legend>Datos de usuario</legend>
            <div class="form-group">
                <label for="nombre-md">Nombre</label>
                <input type="text" class="form-control"
                formControlName="nombre"
                id="nombre-md">
            </div>
            <div class="form-group">
                <label for="apellidos-md">Apellidos</label>
                <input type="text" class="form-control" 
                formControlName="apellidos"
                id="apellidos-md">
            </div>
            <div class="form-group">
                <label for="dni-md">DNI</label>
                <input type="text" class="form-control"
                formControlName="dni" oninput="this.value = this.value.toUpperCase()"
                name="dni" id="dni-md">
                </div> 
                <!--touched && errors (required,minlength) -->
        <div class="error" *ngIf="formMd.controls.dni.touched && formMd.controls.dni.errors" >
                <p *ngIf="formMd.controls.dni.errors?.required">Es necesario DNI</p>
                <p *ngIf="formMd.controls.dni.errors?.minlength">El DNI debe tener 9 caracteres</p>
                <p *ngIf="!formMd.controls.dni.errors?.minlength && formMd.controls.dni.errors?.pattern">Formato No valido</p>
             </div> 
            <div class="form-group">
                <label for="email-md">Correo</label>
                <input type="email" class="form-control" 
                formControlName="email"
                 id="email-md"
                >
            </div>
            <div class="form-group">
                    <label for="passwd-md">Contraseña</label>
                    <input type="password" class="form-control" 
                    formControlName="passwd"
                    id="passwd-md"
                    >
                </div>
            <div class="form-group">
                <label for="nacim-md">Fecha de nacimiento</label>
                <input type="date" class="form-control"
                formControlName="nacim"
                nid="nacim-md">
            </div>
            <div class="form-group">
                <label for="coment">Comentarios</label>
                <textarea class="form-control" 
                formControlName="coments" id="coment" rows="3"></textarea>
            </div>                            
        </fieldset>    
        <fieldset>
            <legend>Datos del curso</legend>
            <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" 
                formControlName="isOk" >
                Estoy de acuerdo con ....
                </label>
            </div>  
            <div>
                <legend>Turno</legend>
                <div class="form-check" *ngFor="let turno of turnos">
                    <label class="form-check-label" [title]="turno.descripcion">
                        <input type="radio" class="form-check-input" name="turno" 
                        formControlName="turno" 
                     [value]="turno"  >
                     {{turno.nombre}}
                    </label>
                </div>                     
            </div>  
            <div class="form-group" >
            <label for="curso-md">Selecciona el tema</label>
                <select class="form-control" formControlName="curso" id="curso-md" >
                    <option value=""></option> 
                    <option [ngValue]="curso" *ngFor="let curso of cursos"
                    [title]="curso.descripcion" >                    
                        {{curso.nombre}}
                    </option>
    
                </select>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" [disabled]="formMd.invalid">
            Enviar</button>
    </form>
    {{ formMd.value | json }}}