
    <div class="row justify-content-end">
        <div class="col-10" >
            <span [ngClass]="{completed: tarea.isCompleted}" (blur)="onEditTarea($event,tarea)">{{ tarea.nombre }}</span>
            <span class="boton" (click)="onModTarea($event)" >✍️</span>  
        </div>                   
        <div class="col-2 float-right ml-auto">
            <div class="form-check form-check-inline" >
                <label class="form-check-label">
                    <input type="checkbox" 
                      [(ngModel)]="tarea.isCompleted"  (change)="onChange(tarea)"
                      class="form-check-input">                      
                </label>
            </div>   
            <fa-icon [icon]="papelera" (click)="onRemoveTarea(tarea)"></fa-icon>                
        </div>
    </div>
