<h3>Fomulario Template-Driven</h3>
<form #formRefTd="ngForm" name="form-td" id ="form-td" (submit)="onSubmit($event)">
    <fieldset>
        <legend>Datos de usuario</legend>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control"
            [(ngModel)]="alumno.nombre" required #refNombre="ngModel"
            name="nombre" id="nombre">
        </div>
        <!--touched && errors-->
        <div class="error" *ngIf="refNombre.touched && refNombre.errors" >Es necesario Nombre</div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control"
            [(ngModel)]="alumno.apellidos" required #refApellidos="ngModel"
            name="apellidos" id="apellidos">
        </div>
        <!--touched && errors-->
        <div class="error" *ngIf="refNombre.touched && refNombre.errors" >Es necesario Apellido</div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input type="text" class="form-control" 
            [(ngModel)]="alumno.dni"  required #refDNI="ngModel"
            minlength="9" maxlength="9"
            pattern = "^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKE]$"
            oninput="this.value = this.value.toUpperCase()"
            name="dni" id="dni">
            </div> 
        <!--touched && errors (required,minlength) -->
        <div class="error" *ngIf="refDNI.touched && refDNI?.errors" >
           <p *ngIf="refDNI.errors?.required">Es necesario DNI</p>
           <p *ngIf="refDNI.errors?.minlength">El DNI debe tener 9 caracteres</p>
           <p *ngIf="!refDNI.errors?.minlength && refDNI.errors?.pattern">Formato No valido</p>
        </div>
        
        <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" class="form-control" 
            [(ngModel)]="alumno.email" 
            name="email" id="email"
            >
        </div>
        <div class="form-group">
                <label for="passwd">Contraseña</label>
                <input type="password" class="form-control" 
                [(ngModel)]="alumno.passwd" 
                name="passwd" id="passwd"
                >
            </div>
        <div class="form-group">
            <label for="nacim">Fecha de nacimiento</label>
            <input type="date" class="form-control" 
            [(ngModel)]="alumno.nacim" 
            name="nacim" id="nacim">
        </div>
        <div class="form-group">
            <label for="coment-td">Comentarios</label>
            <textarea class="form-control" 
            [(ngModel)]="alumno.coments"
            name="coment" id="coment-td" rows="3"></textarea>
        </div>                            
    </fieldset>    
    <fieldset>
        <legend>Datos del curso</legend>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input"
            [(ngModel)]="alumno.isOk"
            name="isOk">
            Estoy de acuerdo con ....
            </label>
        </div>  
        <div>
            <legend>Turno</legend>
            <div class="form-check" *ngFor="let turno of turnos">
                <label class="form-check-label" [title]="turno.descripcion">
                    <input type="radio" class="form-check-input" name="turno" 
                    [(ngModel)]="alumno.turno" required  [value]="turno"  >
                 {{turno.nombre}}
                </label>
            </div>  
            <!-- EXPECIAL RADIOS touched && errors ?? -->
            <div class="error" *ngIf="formRefTd.form.control?.turno?.touched && formRefTd.form.control?.turno?.errors" >
                <p>Es necesario Turno</p>
            </div>                   
        </div>  
        <div class="form-group" >            
        <label for="curso">Selecciona el tema</label>
            <select [(ngModel)]="alumno.curso" class="form-control" name="curso" id="curso" 
            required #refCurso="ngModel"
            >
                <option [ngValue]="curso" *ngFor="let curso of cursos"
                
                [title]="curso.descripcion" >                    
                    {{curso.nombre}}
                </option>

            </select>
        </div>
         <!--touched && errors -->
         <div class="error" *ngIf="refCurso.touched && refCurso?.errors" >
            <p *ngIf="refCurso.errors?.required">Es necesario curso</p>
        </div>
             
    </fieldset>
    <button type="submit" class="btn btn-primary" [disabled]="formRefTd.invalid">
        Enviar</button>
</form>

{{alumno | json }}