/* You can add global styles to this file, and also import other style files */
.destacar{
    background-color: red;
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
    padding: 1rem 0;
}
.colorDestacar{
    color: white;
    background-color: tomato;
}